AVN_FTP_FTP_RECEIVE_01.00.0000/icspackage/project/AVN_FTP_FTP_RECEIVE_01.00.0000/resources/processor_38/resourcegroup_1216/generated.wsdl

<wsdl:definitions targetNamespace="http://xmlns.oracle.com/cloud/adapter/ftp/List_Files_in_FTP_REQUEST" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://xmlns.oracle.com/cloud/adapter/ftp/List_Files_in_FTP_REQUEST/types" xmlns:ns1="http://xmlns.oracle.com/cloud/adapter/ftp/List_Files_in_FTP_REQUEST" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:ns2="http://xmlns.oracle.com/cloud/adapter/ftp/List_Files_in_FTP_REQUEST/types" xmlns:ns3="http://xmlns.oracle.com/cloud/adapter/ftp/List_Files_in_FTP_REQUEST"><wsdl:types><xs:schema xmlns="http://xmlns.oracle.com/cloud/list/pull" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.oracle.com/cloud/list/pull" xmlns:tns="http://xmlns.oracle.com/cloud/list/pull"><xs:element name="File" type="tns:File"/><xs:complexType name="File">                <xs:sequence>                    <xs:element name="directory" type="xs:string"/>                    <xs:element name="filename" type="xs:string"/>                    <xs:element name="lastModifiedTime" type="xs:string"/>                    <xs:element name="creationTime" type="xs:string"/>                    <xs:element name="size" type="xs:string"/>                </xs:sequence>            </xs:complexType></xs:schema></wsdl:types></wsdl:definitions>