AVN_FTP_FTP_SEND_01.00.0000/icspackage/project/AVN_FTP_FTP_SEND_01.00.0000/resources/processor_125/resourcegroup_126/ICSIntegrationProperties.xsd

<?xml version = '1.0' encoding = 'UTF-8'?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://xml.oracle.com/adapters/extension" xmlns:ics="http://www.oracle.com/2014/03/ic/integration/properties" targetNamespace="http://www.oracle.com/2014/03/ic/integration/properties" elementFormDefault="qualified" version="1">    <element name="properties" type="ics:IntegrationPropertiesType"/>          <complexType name="IntegrationPropertiesType">        <sequence>        <element name="Outbound-Directory" minOccurs="1" maxOccurs="1" type="string"/></sequence>    </complexType></schema>