AVN_FTP_FTP_RECEIVE_01.00.0000/icspackage/project/AVN_FTP_FTP_RECEIVE_01.00.0000/resources/processor_889/resourcegroup_890/ICSIntegrationProperties.xsd

<?xml version = '1.0' encoding = 'UTF-8'?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://xml.oracle.com/adapters/extension" xmlns:ics="http://www.oracle.com/2014/03/ic/integration/properties" targetNamespace="http://www.oracle.com/2014/03/ic/integration/properties" elementFormDefault="qualified" version="1">    <element name="properties" type="ics:IntegrationPropertiesType"/>          <complexType name="IntegrationPropertiesType">        <sequence>        <element name="Delete-Or-Keep-Processed-Files" minOccurs="1" maxOccurs="1" type="string"/><element name="Error-File-Extension" minOccurs="1" maxOccurs="1" type="string"/><element name="Move-To-Directory" minOccurs="1" maxOccurs="1" type="string"/><element name="Processed-File-Extension" minOccurs="1" maxOccurs="1" type="string"/></sequence>    </complexType></schema>